[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/anunna/Desktop/1.png]
row=2
col=0

[/home/anunna/Desktop/2.png]
row=3
col=0

[/home/anunna/Desktop/3.png]
row=4
col=0

[Trash]
row=1
col=0

[/home/anunna]
row=0
col=0

